.player {
  min-height: 30vh;
  background-color: lightgreen;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}

.time-control {
  width: 50%;
  display: flex;
  background-color: lightblue;
  align-items: center;

  input {
    width: 100%;
    padding: 3rem 4rem;
  }

  p {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.play-control {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  svg {
    cursor: pointer;
  }
}
