.song-container {
  min-height: 50vh;
  // background-color: pink;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 2rem;

  img {
    width: 20%;
    box-shadow: 2px 2px 30px rgb(41, 41, 41);
    margin: 1rem;
    // border-radius: 15%;
  }

  h2 {
    padding: 2rem 2rem 0rem 2rem;
  }
  margin-bottom: 0;
}
