* {
  margin: 0;
  padding-top: 0;
  box-sizing: border-box;
}

.header {
  padding-top: 5rem;
  display: flex;
  justify-content: center;
}

@import "./player";
@import "./song";
@import "./library";
